@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
img {
  width: 11rem;
  border-radius: 0.8rem;
}
body {
  //   background-color: #752020;
  background-color: #ffa44ec4;
  header {
    text-align: center;
    h1 {
      font-size: 2.5rem;
    }
  }
}
main {
  display: flex;
  justify-content: center;
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
.container {
  background-color: rgba(255, 228, 196, 0.61);
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  box-shadow: 0 0 1rem 1rem rgba($color: #000000, $alpha: 0.2);

  .img {
    display: flex;
  }

  //old price new price
  .prices {
    display: flex;
    gap: 1rem;
    .old-price {
      text-decoration: line-through;
      font-size: 1.2rem;
      color: #00000094;
    }
    .new-price {
      color: rgb(221, 158, 0);
      font-size: 1.6rem;
      span {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  .fa-minus {
    background-color: #a5a5a5;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  .fa-plus {
    background-color: #a5a5a5;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;
  }

  .counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 13rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  .btn-remove {
    background-color: crimson;
    border-radius: 0.4rem;
    padding: 0.4rem;
    color: white;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .total-price {
    font-size: 1.3rem;
    font-weight: 500;
    span {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .bag {
    display: flex;
    gap: 2rem;
  }
  .shoes {
    display: flex;
    gap: 2rem;
  }
  .clock {
    display: flex;
    gap: 2rem;
  }
  .removed {
    display: none;
  }

  .total-sum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    .name {
      display: flex;
      width: 5rem;
      text-align: center;
      align-items: center;
    }
    .subtotal {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid black;
    }
    .tax {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid black;
    }
    .shipping {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid black;
    }
    .total {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid black;
    }
  }
}

@media (max-width: 1310px) {
  .bag {
    word-break: normal;
    align-items: center;
    .img {
      img {
        width: 7rem;
      }
    }
    .text {
      .title {
        h2 {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }
  .shoes {
    word-break: normal;
    align-items: center;
    .img {
      img {
        width: 7rem;
      }
    }
    .text {
      .title {
        h2 {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }
  .clock {
    word-break: normal;
    align-items: center;
    .img {
      img {
        width: 7rem;
      }
    }
    .text {
      .title {
        h2 {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .container {
    gap: 1rem;
    width: 50%;
    align-items: center;
    h2 {
      text-align: center;
    }
    .bag {
      flex-direction: column;
    }
    .shoes {
      flex-direction: column;
    }
    .clock {
      flex-direction: column;
    }
    .total-sum {
      border-radius: 10px;
      border: 1px solid black;
      width: 75%;
      padding: 1rem;
      .subtotal {
        border: none;
        border-bottom: 1px solid black;
      }
      .tax {
        border: none;
        border-bottom: 1px solid black;
      }
      .shipping {
        border: none;
        border-bottom: 1px solid black;
      }
      .total {
        border: none;
        border-bottom: 1px solid black;
      }
    }
  }
}

@media (max-width: 648px) {
  .container {
    gap: 1rem;
    width: 50%;
    align-items: center;
    .bag {
      flex-direction: column;
    }
    .shoes {
      flex-direction: column;
    }
    .clock {
      flex-direction: column;
    }
    .total-sum {
      border-radius: 10px;
      border: 1px solid black;
      width: 75%;
      padding: 1rem;
      .subtotal {
        border: none;
      }
      .tax {
        border: none;
      }
      .shipping {
        border: none;
      }
      .total {
        border: none;
      }
    }
  }
}
